@model UserModel
@{
    ViewData["Title"] = Model.Name;
    IDAO Singleton = IDAO.Singleton;
}

<br>
<div class="float-right">
    @Html.ActionLink("Delete user", "Delete_User", "User", new { id = Model.ID }, new { @class = "btn btn-danger" })
</div>

<h1>User - Editor</h1>

<form method="post" asp-controller="Picture" asp-action="Upload" enctype="multipart/form-data">
    <div class="form-group row">
        <div class="col-sm-10">
            <div class="custom-file">
                <input type="hidden" name="type" value="user" />
                <input type="hidden" name="id" value="@Model.ID" />
                <input class="form-control custom-file-input" type="file" name="file" />
                <label class="custom-file-label">Browse a picture to upload!</label>
            </div>
        </div>
        <button class="btn btn-info" type="submit">Upload</button>

    </div>
</form>

@using (Html.BeginForm("Editor", "User", FormMethod.Post))
{
    <div class="form-group">
        <label for="">
            <b>Name:</b>
        </label>
        @Html.TextBoxFor(m => m.Name, new { Name = "name", @class = "form-control", @required = "" })
    </div>

    <div class="form-group">
        <label for="">
            <b>E-mail:</b>
        </label>
        @Html.TextBoxFor(m => m.Email, new { Name = "email", @class = "form-control", @required = "" })
    </div>

    <div class="form-group">
        <label for="">
            <b>Password:</b>
        </label>
        @Html.TextBoxFor(m => m.Password, new { Name = "password", @type = "password", @class = "form-control", @required = "" })
    </div>

    <div class="form-group">
        <label>
            <b>Date of birth:</b>
        </label><br>
        <input type="date" name="birthdate"/>
    </div>

    <div class="form-group">
        <label>
            <b>Gender:</b>
        </label><br>
        <select name="gender">
            <option value="@Singleton.GetFormattedGender(Model.Gender)">@Singleton.GetFormattedGender(Model.Gender)</option>
            @if (Model.Gender == true)
            {
                <option value="Female">Female</option>
                <option value="N/A">N/A</option>
            }
            else if (!Model.Gender == false)
            {
                <option value="Male">Male</option>
                <option value="N/A">N/A</option>
            }
            else
            {
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="">
            <b>Wallet:</b>
        </label><br>
        <input type="number" name="wallet" placeholder="You have: @string.Format("{0:C}", Model.Wallet)" width="150" />
    </div>

    <div class="form-group">
        <label>
            <b>Introduction:</b>
        </label><br>
        <textarea name="introduction" cols="55" rows="5">@Model.Introduction</textarea>
    </div>

    <input type="hidden" name="id" value="@Model.ID" />
    <button type="submit" class="btn btn-success">Done</button>

    <div class="float-right">
        <span>
            @Html.ActionLink("Back", "User_Profile", "User", new { id = Model.ID }, new { @class = "btn btn-danger ml-auto mr-1" })
        </span>
    </div>
}