@model IDAO
@{
    ViewData["Title"] = "Home Page";
}

<br>
<div class="container" style="background-color:white; width:1300px; border:1px solid black;">
    @using (Html.BeginForm("search", "Home", FormMethod.Get))
    {
        <div class="row">

            <div class="col-sm-2">
                <label>
                    <b>Brand:</b>
                </label><br>
                <select name="brand" style="width: 10em;">
                    <option value="all">Never mind</option>
                    @foreach (KeyValuePair<string, int> item in Model.GetValueCount("brand"))
                    {
                        <option value="@item.Key">@item.Key (@item.Value)</option>
                    }
                </select>
            </div>

            <div class="col-sm-2">
                <label>
                    <b>Model:</b>
                </label><br>
                <select name="model" style="width: 10em;">
                    <option value="all">Never mind</option>
                    @foreach (KeyValuePair<string, int> item in Model.GetValueCount("model"))
                    {
                        <option value="@item.Key">@item.Key (@item.Value)</option>
                    }
                </select>
            </div>

            <div class="col-sm-2">
                <label>
                    <b>Type:</b>
                </label><br>
                <select name="type" style="width: 10em;">
                    <option value="all">Never mind</option>
                    @foreach (KeyValuePair<string, int> item in Model.GetValueCount("type"))
                    {
                        <option value="@item.Key">@item.Key (@item.Value)</option>
                    }
                </select>
            </div>

            <div class="col-sm-2">
                <label>
                    <b>Fuel:</b>
                </label><br>
                <select name="fuel" style="width: 10em;">
                    <option value="all">Never mind</option>
                    @foreach (KeyValuePair<string, int> item in Model.GetValueCount("fuel"))
                    {
                        <option value="@item.Key">@item.Key (@item.Value)</option>
                    }
                </select>
            </div>

            <div class="col-sm-3">
                <label>
                    <b>Type designation:</b>
                </label>
                <input type="text" name="type_designation" />
            </div>

            <div class="col-sm-3">
                <label>
                    <b>Vintage (from to):</b>
                </label><br>
                <select name="vintage-from">
                    <option value="all">Never mind</option>
                    @foreach (ShopModel shop in Model.GetShops())
                    {
                        foreach (VehicleModel vehicle in shop.Vehicles)
                        {
                        <option value="@vehicle.Vintage">@vehicle.Vintage</option>
                        }
                    }
                </select>

                <select name="vintage-to">
                    <option value="all">Never mind</option>
                    @foreach (ShopModel shop in Model.GetShops())
                    {
                        foreach (VehicleModel vehicle in shop.Vehicles)
                        {
                            <option value="@vehicle.Vintage">@vehicle.Vintage</option>
                        }
                    }
                 </select>
            </div>

            <div class="col-sm-3">
                <label>
                    <b>Purchase price (from to):</b>
                </label>
                <input type="number" style="width: 7em;" name="purchase-from" placeholder="Ft" />
                <input type="number" style="width: 7em;" name="purchase-to" placeholder="Ft" />
                <br>
            </div>

            <div class="col-sm-3">
                <label>
                    <b>Odometer reading (from to):</b>
                </label><br>
                <input type="number" style="width: 7em;" name="odometer-from" placeholder="km" />
                <input type="number" style="width: 7em;" name="odometer-to" placeholder="km" />
                <br>
            </div>

            <div class="col-sm-3">
                <label>
                    <b>Cylinder capacity (from to):</b>
                </label><br>
                <input type="number" style="width: 7em;" name="cylinder-from" placeholder="cm3" />
                <input type="number" style="width: 7em;" name="cylinder-to" placeholder="cm3" />
                <br>
            </div>

            <div class="col-sm-3">
                <br>
                <button type="submit" class="btn btn-warning">
                    <b>Search</b>
                </button>
            </div>

        </div>
    }
</div>